* {
  border: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
.navbar-brand {
  position: relative;
  width: 70px;
  left: 15px;
}

.nav-item {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  text-align: right;
}
.collapse navbar-collapse {
  flex: 1;
  text-align: right;
}

.text-center h1 {
  font-size: 60px;
}
.text-center p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.box {
  transition: 0.5s;
}
.box:hover {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
}
